.table {
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0px;
    border-spacing: 40px;   /* spacing between rows */
    /* border: 2px solid; */
}
.row {
    display: table-row;
    padding: 20px 20px;
    border: 2px solid;

}
.cell{
    display: table-cell;
    border-radius: 12px;
    background-color: indianred;
    /*background-image: radial-gradient(darkred,darkred, orangered);*/
    /* color: #000080; */
    text-align: left;
    vertical-align: top;
    /* border: 2px solid white; */
    padding: 20px 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    box-shadow: 5px 5px 10px black;
}

.cell:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 10px orange;
    border: 3px solid orange;
}

body {
    width: 100%;
    padding: 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: auto;   
    text-align: center;
    background-image: linear-gradient(darkred, #3B0000); 
    text-shadow: 1px 1px 5px black;
    font-family: sans-serif;
    color:whitesmoke;
}

h1 {
    text-shadow: 2px 2px black;   
}

.cellTitle {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px black;
    font-size: 1rem;
}
